/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 8, 2025, 1:32:08 AM
    Author     : breannclark
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: lavender;
}
h2 {
    color: white;
    text-shadow: 2px 3px 3px #000020;
    background-image: linear-gradient(to right, hsla(250, 90%, 90%, 1.0), lightskyblue);
    padding: 35px;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #000020;
}
h2 a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
nav {
    color: white;
    padding: 10px;
    text-shadow: 1px 1px 2px #000020;
    background-color: hsla(250, 90%, 87.5%, 1.0);
    border-radius: 12px;
    box-shadow: 5px 5px 15px #000020;
    margin-top: 0px;
    margin-bottom: 10px;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: lightskyblue;
    cursor: pointer;
}
aside {
    background-color: hsla(250, 90%, 90%, 1.0);
    max-width: 275px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #000020;
}
img {
    float: right;
    border-radius: 1px 7px 7px 1px;
    margin: 5px;
    margin-left: 0
}
article {
    float: right;
    background-image: linear-gradient(to right, lightskyblue, black);
    color: white;
    text-shadow: 1px 2px 1px #000020;
    max-width: 350px;
    border-radius: 5px 1px 1px 5px;
    padding: 7px;
    margin: 5px;
    margin-right: 0;
}
footer {
    background-color: hsla(250, 90%, 85%, 1.0);
    text-align: center;
    height: 50px;
    width: auto;
    margin-top: 10px;
    padding: 15px;
    border-radius: 12px;
}